@import "src/assets/variables";

.container {
  padding-top: 70px;

  .page-title {
    margin-bottom: 70px;

    h1 {
      font-family: 'Merriweather', serif;
      letter-spacing: $ls-large;
    }
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 100px;
  }
}