@import "src/assets/variables";

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba($grey, .3);
  justify-content: center;
  align-items: center;
  z-index: 10000;
  display: none;

  &.isOpen {
    display: flex;
  }

  .modal {
    width: 400px;
    height: auto;
    background: $light;
    color: $grey;
    border-radius: 5px;
    padding: 30px 40px;
    box-shadow: 0 0 10px $grey-light;
    position: relative;
    z-index: 500;

    &-title {
      margin-bottom: 50px;
      font-family: 'Merriweather', serif;
      letter-spacing: $ls-large;
      font-weight: 600;
      font-size: 22px;
    }

    &-body {
      display: flex;
      flex-direction: column;

      .input-field {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
          font-size: 12px;
          font-family: 'Poppins', sans-serif;
          padding: 0 5px;
        }

        input {
          border-bottom: 1px solid $grey;
          padding: 5px;
        }

        textarea {
          border: 1px solid $grey;
          padding: 5px;
          height: 70px;
        }
      }

      .submit {
        width: 100px;
        height: 40px;
        text-transform: uppercase;
        background: $purple;
        color: $light;
        border-radius: 5px;
      }
    }

    &-close {
      width: 12px;
      height: 12px;
      overflow: hidden;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}