$grey: #333333;
$grey-light: rgba($grey, .5);
$purple: #D71E98;
$purple-light: rgba($purple, .1);
$light: #F2F2F2;

$ls-large: 0.03em;

$content-large: 1140px;
$content-laptop: 960px;
$content-tablet: 720px;

$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;